/* Resetting some basic elements to improve consistency */

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}


/* Navigation bar styling */

.navbar {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Product grid styling */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 60px;
    /* Adjust top margin to match the height of the navbar */
}

.product-cell {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.product-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
}