/* General body styles */

body,
html {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100%;
    /* Ensures the full height of the viewport is used */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Stacks elements vertically */
    min-height: 100vh;
    /* Minimum height of the viewport */
}


/* Navbar styles */

.navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


/* Navigation links styling */

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ccc;
    /* Subtle hover effect color change for better visibility */
}


/* Dropdown content styles */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Dropdown items */

.dropdown-content li {
    float: none;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Contact container styling */

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.contact-info {
    max-width: 400px;
}


/* Contact image styling */

.contact-image img {
    max-width: 300px;
    height: auto;
    /* Keeps the image's aspect ratio */
    border-radius: 50%;
    /* Makes the image round */
}


/* Rotate image animation */

.rotate-image {
    transition: box-shadow 0.3s ease-in-out, transform 2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.rotate-image:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}


/* Footer styling */

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}


/* Responsive styles */

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-image img {
        width: 200px;
        /* Adjusts the image size on smaller screens */
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 20px 0;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        padding: 15px;
    }
}