body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Style for the navbar container */


/* Style for the navbar container */

.navbar {
    background-color: #333;
    /* Dark background for the navbar */
    padding: 10px 0;
    /* Padding around the navbar */
    display: flex;
    /* Enables flexbox properties */
    justify-content: center;
    /* Centers the navigation links horizontally */
}


/* Style for the navigation list */

.nav-links {
    list-style-type: none;
    /* Removes bullet points from the list */
    margin: 0;
    /* Removes default margin */
    padding: 0;
    /* Removes default padding */
    display: flex;
    /* Display list items in a row */
    gap: 20px;
    /* Space between each link */
}


/* Style for each navigation item */

.nav-links li {
    padding: 10px;
    /* Padding around each item for better clickability */
}


/* Style for links */

.nav-links a {
    text-decoration: none;
    /* Removes underline from links */
    color: white;
    /* White text color */
    font-size: 16px;
    /* Sets the font size */
    transition: color 0.3s;
    /* Smooth transition for color change */
}


/* Updated hover effect for links */

.nav-links a:hover {
    color: white;
    /* White text color on hover */
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    background-image: url('images/image.png');
    /* Update with the correct path */
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    /* Aligns children vertically */
    justify-content: center;
    /* Centers content vertically in the container */
    align-items: center;
    /* Centers items horizontally */
    height: 100vh;
    /* Full viewport height */
    text-align: center;
    /* Center text alignment */
}

.container p {
    /* Styling for all paragraph elements in the container */
    font-size: 32px;
    /* Sets the size of the font */
    font-weight: bold;
    /* Makes the font bold */
    margin: 10px 0;
    /* Adds vertical spacing between each paragraph and other elements */
}

.hero-buttons .btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
}

.btn-primary {
    border: white;
}

.btn-secondary {
    background-color: white;
}

@media (min-width: 768px) {
    .hero-content h1 {
        font-size: 32px;
    }
}


/* Responsive */

@media screen and (max-width: 600px) {
    .nav-links li {
        float: none;
    }
}